DUES-REMINDER.json
{
  "name": "DUES REMINDER",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -752,
        -88
      ],
      "id": "5044f0d4-688b-475f-b981-1476e03a71b6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Pending bills",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10IdRa2fBYUReTIjXW0EFFBSVH4zORQHhS6pyP_1AmVc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10IdRa2fBYUReTIjXW0EFFBSVH4zORQHhS6pyP_1AmVc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -528,
        -88
      ],
      "id": "c21f9866-463d-49cb-9973-2c45f582b845",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "L1N3eneZhY4HZQHW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1827ed19-f215-4580-84ea-02fa9b5d7ba9",
                    "leftValue": "={{ $('Get row(s) in sheet').item.json['Paid?'] }}",
                    "rightValue": "No",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6d7e47a9-8cbf-439e-84f5-a5cd1cc2a1ff",
                    "leftValue": "={{ $('Get row(s) in sheet').item.json['Paid?'] }}",
                    "rightValue": "Yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -304,
        -80
      ],
      "id": "4f02b9d0-d379-4c23-9ac5-18c1da2d41b8",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const bills = $input.all();\nconst unpaidBills = bills.filter((bill) => bill?.json[\"Paid?\"] === \"No\");\n\nconst mailContent = unpaidBills\n  .map((bill) => {\n    return `Reminder for bill: ${bill?.json[\"Bill Name\"]}\\nAmount: ${bill?.json[\"Amount\"]}\\nDue Date: ${bill?.json[\"Due Date\"]}\\nCategory: ${bill?.json[\"Category\"]}\\n\\n`;\n  })\n  .join(\"\");\n\nreturn [{ json: { mailContent }, pairedItem: bills.map((_, index) => index) }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -88
      ],
      "id": "aeafd414-d474-4389-8ba4-cb8e009d3b4e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=make a fun small finace tip after seeing the total spendings to add at the end of the message of only 1 line.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        -192
      ],
      "id": "46e47b54-cf14-49a2-b4b7-b90841a3f852",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        216,
        32
      ],
      "id": "53917eed-85f3-48dc-970e-bf1d700f558f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "isRyqv2OnCwM1P9z",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL",
        "subject": "Dues Reminderr!!!!",
        "emailType": "text",
        "message": "={{ $('Code in JavaScript').item.json.mailContent }}\n{{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        496,
        -88
      ],
      "id": "788c53f5-e76d-4b90-83bb-f46c01e205fc",
      "name": "Send a message",
      "webhookId": "38b1fb4d-60a1-4516-9362-5c5d5d333e7b",
      "credentials": {
        "gmailOAuth2": {
          "id": "WXmTBKbzpiSooxXX",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 7,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -752,
        240
      ],
      "id": "34813ea2-d7e2-4dfb-aee1-3ade3f992a04",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Pending bills",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10IdRa2fBYUReTIjXW0EFFBSVH4zORQHhS6pyP_1AmVc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10IdRa2fBYUReTIjXW0EFFBSVH4zORQHhS6pyP_1AmVc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -528,
        240
      ],
      "id": "f330ef00-c463-4da5-b597-56cac5c40281",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "L1N3eneZhY4HZQHW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "Amount"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -304,
        240
      ],
      "id": "ab7d9b98-17d1-45f4-ad05-753003cc9aff",
      "name": "Summarize"
    },
    {
      "parameters": {
        "jsCode": "const totalSpending = $input.all()[0]?.json?.sum_Amount;\nconst message = `The total spending of the week is ${totalSpending}`;\n\nreturn { message };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        240
      ],
      "id": "14e40d13-5f6d-4b09-90a4-8b39d58c0c05",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sendTo": "YOUR_GMAIL",
        "subject": "TOTAL SPENDING!!!",
        "emailType": "text",
        "message": "={{ $json.message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        144,
        240
      ],
      "id": "5a79625e-5a97-472e-80c0-6858e3a4135d",
      "name": "Send a message1",
      "webhookId": "691cdd4d-c036-4273-9759-ba4a6b8f17c6",
      "credentials": {
        "gmailOAuth2": {
          "id": "WXmTBKbzpiSooxXX",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "triggerCount": 2,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}